<div>
  <div> 
    <div>
      <ul>
        <li><b><%= t ".category" %>: </b><%= @book.category&.name %></li>
        <li><b><%= t ".evaluation" %>: </b><span class="text-warning"><%= "★" * review.evaluation %></span></li>
        <li><b><%= t ".created_at" %>: </b><%= review.created_at.strftime("%Y.%m.%d") %></li>
        <li><b><%= t ".title" %>: </b><%= link_to review.title, book_review_path(review.book, review) %></li>
      </ul>
    </div>
  </div>
  <%= simple_format review.description %>
  <div>
    <%= render 'favorites/like_button', review: review %>
  </div>
</div>